<div *ngIf="reviews && reviews.length === menu.length">
  <div class="container">
  <div class="row">
    <div class="logo" [style.border-color]="restaurant.primaryColor">
      <img class="main_img" src="{{restaurant.logoPath}}"> 
    </div>
    <div class="title">
        <h2 class="display-2">
            {{restaurant.name}}
        </h2>
    </div>      
  </div>
  </div>
  <ul class="list-group">
    <li *ngFor="let review of reviews" class="list-group-item">
      <div class="row align-items-center">
          <p class="col-4">{{review.item.name}}</p>
          <star-rating [rating]="review.rating" (ratingChange)="onRatingChange($event,review)" class="col-4"></star-rating>
          <button class="btn btn-primary" [hidden]="selectedReview!==review" (click)="saveReview()">Submit</button>
          <p class="text-success" id="{{review.item.name}}"></p>
      </div>
    </li>
  </ul>
  <h4 class="display-4">Recommended For You:</h4>
  <div *ngIf="recommended && recommended.length; else nothingToShow" class="row card-deck">
    <div class="col-md-4 card text-center" *ngFor="let item of recommended">
      <div class="card-body">
        <div class="logo_card">
          <img class="card_img" src="{{item.restaurant.logoPath}}">
        </div>
        <h5 class="card-title">{{item.name}}</h5>
      </div>
    </div>
  </div>
  <ng-template #nothingToShow>
    <div>
      <h4>No recommendations to show.</h4>
    </div>
  </ng-template>
</div>