<div class="container-fluid" id="recent">
  <h1 class="display-3">Welcome,</h1>
  <h3>Your Recent Reviews:</h3>
  <div class="row card-deck">
    <div class="col-md-4 card text-center" *ngFor="let review of reviews">
      <div class="card-body">
        <div class="logo">
          <img src="{{review.item.restaurant.logoPath}}">
        </div>
        <h5 class="card-title">{{review.item.name}}</h5>
        <star-rating [readOnly]="true" [rating]="review.rating"></star-rating>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid main text-center">
  <h1 class="display-3">Start Your Search</h1>
  <p class="lead">Review food you've already had from our list of restaurants. Doing so will help us find out what you like.</p>  
  <button [routerLink]="['/restaurant']" class="btn btn-primary main">Find Restaurants</button>
</div>
<div class="container-fluid comp text-center">
    <h1 class="display-3">Try Something New</h1>
    <p class="lead">We use the reviews that you give us to find users that have similar tastes. This allows us to predict and recommend foods that you may like, but haven't tried yet
      Click below to find out. (Coming soon)
    </p>  
    <button class="btn btn-primary main disabled">Give me some food!</button>
</div>